/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 8px;
    display: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 8px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white; 
  }

body{
    background-color: #010005;
}

header{
    height: 10vh;
    width: 100%;
    background-color: rgba(146, 146, 146, 0.062);
}

section{
    height: 100vh;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap; 
}

img{
    width: 100%;
    height: auto;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.logoContainer {
    width: 45px;
    margin: auto 0;
    margin-left: 20px;
}

.logoContainer img{
    width: 100%;
}

nav{
    margin: auto 0;
}

nav ul{
    width: 45%;
    float: right;
    margin-right: 50px;
    justify-content: space-around;
    font-size: $font_li;
}














footer{
    text-align: center;
}